{% extends "base.njk" %}

{% block content %}
    <h2>Carbon Offset</h2>
    <ul>
        <li><b>15.7</b> trees required to offset 1 kgCo2e in 1 year.</li>
        <li>The donation amount to <a href="https://trees.org" target="_blank">trees.org</a> to plant 1 tree is <b>0.25 USD</b>.</li>
    </ul>

{% endblock %}
